* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #000;
    font-size: 46px;
    font-weight: normal;
    margin: 10px;
    text-align: center;
}

hr {
    border: none;
    border-top: 2px solid #000;
    margin: 10px;
}

button {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 50px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    padding: 5px;
}

button:hover {
    background-color: #000;
    color: #fff;
}